.places {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

@media (min-width: 768px) {
  .places {
    grid-template-columns: repeat(2, 1fr);
  }
}

.places__title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.places__grid {
  display: grid;
  gap: 80px;
}

